@page
@model CoursePlanner.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <div class="input-group mb-3">
        <select asp-for="ClassSubject" asp-items="Model.Subjects">
            <option value="">All</option>
        </select>
        <input type="text" id="className" class="btn btn-outline-primary" asp-for="SearchString" placeholder="Enter class name" />
        <input type="submit" class="btn btn-outline-primary" value="Filter">
    </div>
</form>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#className").autocomplete({
                source: '@Url.Page("index", "search")'
            });
        });
    </script>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].InstructorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].SubjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].CareerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Units)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Class)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CareerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ClassId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ClassId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ClassId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
